/*------ reset ------*/

* {
  margin: 0;
  padding: 0;
}
/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #000;
  font-family: "chivo", serif;
}

/*------ Custom NavBar ------*/

.navbar-custom {
  background-color: #000014 !important;
  color: #ededed !important;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none !important;
  color: #ededed;
}

li a:hover {
  border-bottom: solid 2px var(--primary);
  transition: 0.1s;
  color: #ededed;
}

/*------ question section ------*/
.home {
  display: flex;
  width: 100%;
  height: calc(100vh);
  align-items: center !important;
  justify-content: center;
  flex-direction: column !important;
  color: #ededed;
}

label {
  display: inline-block;
  margin: 1rem;
}

.botones {
  display: block;
}
.btn {
  border-radius: 0 !important;
  font-size: 2rem;
}

/*------ Custom Form ------*/
.form-control {
  display: block;

  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000014;
  background-color: #ededed;
  background-clip: padding-box;
  border: 1px solid var(--primary);
  border-radius: 0.01rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
