/*------ reset ------*/

* {
  margin: 0;
  padding: 0;
}

/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

/*------ Custom NavBar ------*/
i {
  margin-right: 10px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #ffffff !important;
}

li {
  margin-bottom: 1rem;
}

a {
  color: #ffffff !important;
  margin: 0 1rem;
  text-decoration: none !important;
}

li a:hover {
  border-bottom: solid 2px #ff00b0;
  padding: 0.3rem;
  transition: 0.7s;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.7s;
}

/*------ question section ------*/
.home {
  display: flex;
  width: 100%;
  height: calc(100vh);
  align-items: center !important;
  justify-content: center;
  flex-direction: column !important;
  color: #ffffff;
}

label {
  display: inline-block;
  margin: 1rem;
}

/*------ Custom Button ------*/
button:focus {
  outline: 1px dotted;
  outline: 1px solid #ff00b0 !important;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  border: solid 2px #ffffff;
  padding: 0.7rem;
  border-radius: 0 !important;
  margin: 1em 25% 1em 25%;
}
.btn {
  border-radius: 0 !important;
  font-size: 2rem;
}

/*------ Custom Form ------*/
.form-control {
  display: block;

  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ff00b0;
  border-radius: 0.01rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
