/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #000;
}

/*------ Custom NavBar ------*/
i {
  margin-right: 10px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #ffffff !important;
}

li {
  margin-bottom: 1rem;
}

a {
  color: #ffffff !important;
  margin: 0 1rem;
  text-decoration: none !important;
}

li a:hover {
  border-bottom: solid 2px #ff00b0;
  padding: 0.3rem;
  transition: 0.7s;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.7s;
}
#everything {
  background-color: #ffffff;
  padding-top: 55px;
  font-family: revert;
  font-weight: 300;
}

.flex-boxes {
  height: 280px;
  width: 240px;
  border: 1px solid black;
  margin: 20px auto 20px auto;
  border-radius: 5px;
  background-color: #ffffff;
}

.flex-headings {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #535152 !important;
  border-radius: 5px;
  color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
