/*------ reset ------*/

* {
  margin: 0;
  padding: 0;
}
/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #000;
  font-family: "chivo", serif;
}

/*------ Custom NavBar ------*/

.navbar-custom {
  background-color: #000014 !important;
  color: #ededed !important;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none !important;
  color: #ededed;
}

li a:hover {
  border-bottom: solid 2px var(--primary);
  transition: 0.1s;
  color: #ffffff;
}
