/*------ reset ------*/

* {
  margin: 0;
  padding: 0;
}
/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #000;
  font-family: "chivo", serif;
}

/*------ Custom NavBar ------*/

.navbar-custom {
  background-color: #000014 !important;
  color: #ededed !important;
  letter-spacing: 0.8px;
}
h1 {
  color: #ededed;
}
a {
  text-decoration: none !important;
  color: #ededed;
}

li a:hover {
  border-bottom: solid 2px var(--primary);
  transition: 0.1s;
  color: #ffffff;
}

.botones {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 1.3rem;
  margin: 1rem;
  border-radius: 0px;
}

.bloque {
  display: flex;
  flex-direction: row;
}
.preguntas {
  background-color: #00ffff;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 50%;
  padding: 2rem 0;
  color: #000;
}

.respuestas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  width: 50%;
  margin: 1rem auto;
  padding: 2rem;
  color: #ffffff;
}
