/*------ reset ------*/

* {
  margin: 0;
  padding: 0;
}
/*------ BG color ------*/
body {
  background-color: rgba(0, 0, 0, 0.9);
  color: #000;
  font-family: "chivo", serif;
}

/*------ Custom NavBar ------*/

.navbar-custom {
  background-color: #000014 !important;
  color: #ededed !important;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none !important;
  color: #ededed;
}

li a:hover {
  border-bottom: solid 2px var(--primary);
  transition: 0.1s;
  color: #ffffff;
}
/* box menu toglle */
button:focus {
  outline: 1px dotted;
  outline: 1px solid var(--primary) !important;
}
/*------ question section ------*/
.home {
  display: flex;
  width: 100%;
  height: calc(100vh);
  align-items: center !important;
  justify-content: center;
  flex-direction: column !important;
  color: #ffffff;
}

label {
  display: inline-block;
  margin: 1rem;
}

/*------ Custom Box ------*/

.box {
  display: flex;
  justify-content: center;
  border: solid 2px #ffffff;
  padding: 0.7rem;
  border-radius: 0 !important;
  margin: auto;
  margin-bottom: 2.5rem;
}
